<ion-list>
  <ion-radio-group [value]="status" [(ngModel)]="status">
    <ion-list-header>
      <ion-label>Select Status</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-radio slot="end" value="1"></ion-radio>
      <div class='box green'></div>
      Pass
    </ion-item>
    <ion-item>
      <ion-radio slot="end" value="2"></ion-radio>
      <div class='box yellow'></div>
      Review
    </ion-item>
    <ion-item>
      <ion-radio slot="end" value="0"></ion-radio>
      <div class='box red'></div>
      Fail
    </ion-item>
  </ion-radio-group>
  <ion-button style="width: 100%;" (click)=selectStatus()>Save</ion-button>
</ion-list>
