
.error-message{
    padding: 10px;
    color: red;
}
ion-footer{
    .footer-button{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      font-size: 20px;
    }
  }